body {
  margin: 0;
  font-family: monospace;
  background-color: #ebebeb;
}

.header {
  padding: 10px;
  min-height: 6.5em;
  background-color: #4E45FF;
  background-image: 
    linear-gradient(
      40deg, 
      #ff4949, #ffee23
    );
}

.header > .header-line > h2 {
  margin-top: 0.5em;
  margin-left: 0.2em;
  height: 100%;
  font-size: 4em;
  display: inline;
}

.header > h3 {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0.3em;
  margin-left: 0.45em;
}

#github-cat {
  width: 3em;
  float: right;
  margin-top: 0.5em;
  margin-right: 0.2em;
  stroke: white;
}

.body {
  padding: 2em;
  padding-top: 1em;
}